
@{
    ViewBag.Title = "Test";
}
@section scripts {
<script src="~/scripts/applications/logic.js"></script>

    <script>
        $(function () {
            initAssetAssignment();
    })
    </script>
    }
<h2>Test Json interface</h2>

<p><input id="locationCode" type="text" placeholder="location code" /></p>

<p><input id="AssetCode" type="text" placeholder="asset code" /></p>

<button id="AssignAssetButton">
    Assign Asset
</button>